/* Write your CSS here! */
body{
    color: rgb(2, 2, 78);
    background: url(https://www.wallpaperstogo.com/images/product/icon/254668.jpg) fixed;
    font-family:monospace;
    font-weight:bolder;
    width: 100vw;
    padding: 0 10vw;
    margin: 8px;
    display:block;
    box-sizing: border-box;
    
}

header{
    text-align: center;
    font-size: 1rem;
}
#mainHeading{
    background-color:lightskyblue;
    margin: 0 15%;
    padding: 30px;
    border-style: solid;
    border-color: rgb(2, 2, 78);
    border-width: 16px 4px;
    border-radius: 40px 0px;
}

.funParagraph{
    text-align:center;
}
h2{
    font-size:18pt;
}

h3{
    text-align: left;
    font-size: 18pt;
    font-weight: bolder;
}
.row{
    align-items:center;
    display:flex;
    float:left;
    padding:0px;
}
.column {
    display:block;
    float: left;
    width: 50%;
    padding: 10px;
    
  }
section{
    text-align: left;
}

p{
    font-size: 12pt;
}