/* Write your CSS here! */
body{
    color: darkgreen;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQwZ0mwKhrasuVe-7wZtl9YoH7GuchTKh8ww&s) fixed;
    font-family:monospace;
    font-weight:bolder;
    width: 100vw;
    padding: 0 10vw;
    box-sizing: border-box;
    
}

header{
    text-align: center;
    font-size: 1rem;
}


h3{
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
}
.row{
    align-items:center;
    display:flex;
    float:left;
    padding:0px;
}
.column {
    display:block;
    float: left;
    width: 50%;
    padding: 10px;
    
  }
section{
    text-align: left;
}